@model IEnumerable<FC24StatsWebApp.Models.PlayerViewModel>

@{
    ViewData["Title"] = "Tabela wszech czasów";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Suma Punktów</th>
            <th>Zajete 1 miejsce</th>
            <th>Zajete 2 miejsce</th>
            <th>Zajete 3 miejsce</th>
            <th>Miejsca poza podium</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalPoints)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstPlaceCount)</td>
                <td>@Html.DisplayFor(modelItem => item.SecondPlaceCount)</td>
                <td>@Html.DisplayFor(modelItem => item.ThirdPlaceCount)</td>
                <td>@Html.DisplayFor(modelItem => item.OtherPlaceCount)</td>
            </tr>
        }
    </tbody>
</table>
